<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
      <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, 
      style: "width: 100%",
      rows: 8,
      maxlenght: 2000,
      placeholder: 'Write a task',
      class: 'form-control' %>

        <%= link_to '#', class: "nav-link #{'active fw-bold' if current_page?()}" do %>
        <div class="fa fa-plus"></div>
          Add an answer
        <% end %>
        <p>(sorry this problem is not solved...yet ) ¯\_(ツ)_/¯</p>
    </div>
    
    <div class="actions">
      <%= form.submit "Create task", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
