<h2>
  <%= link_to_unless_current task.title, task %>
</h2>

  <%= markdown(task.body) %>

On <%= task.created_at.strftime('%d %m %Y') %>
By <%= link_to task.user.username, task.user %>

<br>

<% if current_user == task.user %>
  <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
  <%= link_to 'Destroy', task, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
<% end %>