<li>
  <div class="Stripes">
  <%= 'Name'.humanize %>:
  <%= user.name %>
  <br>
  <%= 'Email'.humanize %>:
  <%=link_to user.email, user %>
  <br>
  <b><%= 'tasks_count'.humanize %>:</b>
  <%= user.tasks_count %>
  <br>  
  </div>
</li>