
<h1>List of users</h1>
<ul class="users">
  <div> 
    Total users:
    <%= User.count %>
  </div>
  <br>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <br>
  <%= sort_link(@q, :tasks_count, default_order: :desc) do %>
  <strong>Tasks count</strong>
  <% end %>
  <br>
  <% @users.each do |user| %>
  <%= render 'users/user', user: user %>
  <hr>
  <% end %>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</ul>
