<% provide(:title, @user.name) %>
  <aside class="col-md-4">
      <section class="user_info-sidebar">
        <div class= "Layout-sidebar">
          <% if @user.image? %>
                <%= image_tag @user.image %> 
              <% else %>
                <%= image_tag "/assets/user.png", class: "profile_avatar" %> 
          <% end %> 
          
          <p><span class="last-name"><%= @user.name %> </span> </p>
            <span class="separator"></span>
          <p><span class="email"><%= @user.email %> </span> </p>
          <p><span class="registrated by"><%= @user.provider %> </span> </p>
        </div>
      </section>
  </aside> 