<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <%= link_to "Project", root_path, id: "logo" %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 nav-masthead justify-content-center mb-md-0">
          <li><%= link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do %>
            <div class="fa fa-home"></div>
            Home
          <% end %></li>
          <li><%= link_to tasks_path, class: "nav-link #{'active fw-bold' if current_page?(tasks_path)}" do %>
                <div class="fa fa-tasks"></div>
                Tasks
              <% end %></li>
            <% if current_user %>
              <li><%= link_to users_path, class: "nav-link #{'active fw-bold' if current_page?(users_path)}" do %>
                <div class="fa fa-users"></div>
                Users
              <% end %></li>
              <li><%= link_to new_task_path, class: "nav-link #{'active fw-bold' if current_page?(new_task_path)}" do %>
                <div class="fas fa-plus-square"></div>
                Create Tasks
              <% end %></li>
            <% end %>
        </ul>
          <ul class="navbar-nav nav-masthead">
          <% if current_user %>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <% if current_user.image? %>
                <%= image_tag current_user.image, size: "30x30", class: "rounded-circle" %>
              <% else %>
                <div class="fa fa-user"></div>
              <% end %>
                <b><%= current_user.username %></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <%= link_to user_path(current_user), class: "dropdown-item #{'active fw-bold' if current_page?(user_path(current_user))}" do %>
                  <div class="fa fa-user"></div>
                  <b>Profile</b>
                <% end %>
                <%= link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
                  <div class="fa fa-cog"></div>
                  <b>Account settings</b>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <div class="fa fa-sign-out-alt"></div>
                  <b>Sign out</b>
                <% end %>
              </ul>
              </li>
            </ul>
        <% else %>
        <div class="text-end">
          <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-light me-2" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning" %>
        </div>
        <% end %>
      </div>
    </div>
  </header>